$mainFont: Arial, Helvetica, sans-serif;
$secondaryFont: "DM Serif Text", serif;
$mainColor: #0d0d0d;
$secondaryColor:#666666;
$contrastColor:#e67300;
$backgroundColor: #f0f5f5;
$thirdColor: cornflowerblue;