.footer{
    background-color: $mainColor;
    color: white;
    h5{
        border-top: 1px solid white;
        margin: 0px 20px;
        padding: 20px 0px 40px;
        font-family: $mainFont;
        font-size: 1.2rem;
        font-weight: 100;
        text-align: center;
    }
    
}