.header{
    display: flex;
    justify-content: flex-start;
    color: $mainColor;
    font-family: $secondaryFont;
    font-size: 4rem;
    border-bottom: 3px solid $mainColor;
    margin: 20px;
    
}