
.main{

    padding:20px;

    &__list{
        display: flex;
        width: 50%;
        flex-wrap: wrap;
        gap: 10px;

        & .card{
            width: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 3px solid black;
            padding: 10px;
            text-align: center;
            gap: 10px
        }
        & .card-fav{
            position: relative;
            width: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 3px solid blue;
            padding: 10px;
            text-align: center;
            gap: 10px

        }

        .btn{
            width: 2.5rem;
            aspect-ratio: 1;
            border-radius: 50%;
            position: absolute;
            right: 0;
            top: 0;
            background-color: black;
            font-size: 2rem;
            color: red;
            transform: translate(50%, -50%);
        }

        .hidden{
            display: none;
        }

    }
}

