<main class="main">
    <section class="main__searcher">
      <input type="text" name="cocktail-input" id="cocktail-input" class="main__searcher-input js_input" placeholder="Busca tu cóctel">
      <input type="submit" value="Buscar" class="main__searcher-submit js_btn-search">
      <input type="reset" value="Reset" class="main__searcher-reset js_btn-reset">
    </section>
    <section class="lists">
      <article class="lists__fav">
        <h2>Cócteles Favoritos</h2>
        <ul class="lists__fav-ul js_list-fav"></ul>
      </article>
      <article class="lists__all">
        <h2>Lista</h2>
        <ul class="lists__all-ul js_list-all"></ul>
      </article>
    </section>
  </main>